* { margin: 0; padding: 0;}
body, html {
height:100%;
overflow: hidden;
touch-action: none;
}
#yeet {
  position:absolute;
  touch-action: none;
  font-size: large;
  mix-blend-mode: soft-light;
  color: rgb(255, 255, 255);
}
/*yeet:after {
    /* This value is the OPPOSITE color of our background */
    /*mix-blend-mode: difference;
}*/
.screen {
  position:absolute;
  touch-action: none;
  width:100%;
  height:100%;
  cursor: none;
}
#gui{
  pointer-events: none;
  mix-blend-mode: color-burn;
}